<!DOCTYPE html>
<html lang="ko">
  <!-- 참고할 것 http://bootstrapk.com/getting-started/ -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>단어와 숫자 말하기 게임</title>
    <!-- <link rel="stylesheet" href="./style.css" type="text/css"> -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-dark text-white">
    <div class="container text-center">
      <!-- Word & Input -->
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- Later we will use just h2 with different color -->
          <div class="row mt-5">
            <div class="col-md-6">
              <h2>
                문제:
                <span id="hints"></span>
              </h2>
            </div>
            <div class="col-md-6">
              <h2>
                제출:
                <span id="output">10</span>
              </h2>
            </div>
          </div>
          <p class="result">정답일까 오답일까?</p>

          <!-- Time and Score Columns -->
          <div class="row mt-5">
            <div class="col-md-6">
              <h3>
                정답개수:
                <span id="right">0</span>
              </h3>
            </div>
            <div class="col-md-6">
              <h3>
                오답개수:
                <span id="wrong">0</span>
              </h3>
            </div>
          </div>

          <!-- Instructions -->
          <div class="row mt5">
            <div class="col-md-12">
              <div class="card card-body bg-secondary text-white">
                <h5>게임 방법</h5>
                <p>
                  화면에 보이는 단어 또는 숫자를 시간내에 큰 소리로 말했을때에
                  말한 단어 또는 숫자가 화면에 나타나며, 이때 두 단어 또는
                  숫자가 같으면 정답이다. 다시 게임하려면 현재 단어를 큰소리로
                  말하면 된다. 점수는 리셋될 것이다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/recog.js"></script>
  </body>
</html>
